body{
    margin: 0 auto;
    padding: 0;

}

.portada{
    background-image: url("https://raw.githubusercontent.com/ironhack-labs/lab-css-recipes-clone-es/master/apple-pie/images/apple-pie.jpg");
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
}

.encabezado{
    font-size: 8rem;
    color: white;
    text-align: center;
    margin-top: 0;
    /* padding-top: 36rem; */
    letter-spacing: 5px;
    display: grid;
    align-content: space-evenly;
   
    
}

.texto-1{ 
    font-size: 50px;
    margin: 90px 336px 0 295px;
    
}

.borde-1{
   
    border: 3px solid gray; 
    display: flex;
   
    
}

.imagen-2{ 
    text-align: center;
}

.ingredientes h3  { 
    font-size: 50px;
    margin: 10px 0 0 10px;
    
}

.instrucciones{
    font-size: 34px;
    margin:10px 0 0 10px ;
    
}

.borde-2{
    width: 100%;
    border: 3px solid gray; 

}

.imagen-3{
    text-align: center;
}

.directions h3{
    font-size: 50px;
    margin: 10px 0 0 10px;

}

.directions-2{
    font-size: 34px;
    margin:10px 0 20px 10px ;
    

}